<section id="schedule" class="home-schedule">
  <div class="home-content07">
    <div class="home-header15">
      <h2 class="home-heading13">
        Schedule an in person or virtual appointment today
      </h2>
      <p class="home-caption8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam.
      </p>
    </div>
    <div class="home-types">
      <a href="#book" class="home-book-person button button-main button-white">
        <span>Book in person appointment</span>
      </a>
      <button class="button button-main button-white home-book-person1">
        <span>Book virtual appointment</span>
      </button>
    </div>
  </div>
</section>