<section class="home-news">
  <div class="home-heading19">
    <h2 class="home-text84">Read our latest news</h2>
    <p class="home-text85">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt.
    </p>
  </div>
  <div class="home-list2">
    <div class="home-item">
      <div class="home-image20">
        <img alt="image" src="/content/dam/medica/news-logo-1500w.png" class="home-image21">
      </div>
      <div class="home-content09">
        <div class="home-details">
          <span class="home-date1">November 23, 2022</span>
          <p class="home-quick-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua.
          </p>
        </div>
        <div class="read-more">
          <span class="home-text86">Read more</span>
          <img alt="image" src="/content/dam/medica/arrow.svg" class="home-image22">
        </div>
      </div>
    </div>
    <div class="home-item1">
      <div class="home-image23">
        <img alt="image" src="/content/dam/medica/news-1-1500w.png" class="home-image24">
      </div>
      <div class="home-content10">
        <div class="home-details1">
          <span class="home-date2">November 23, 2022</span>
          <p class="home-quick-description1">
            Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="read-more">
          <span class="home-text87">Read more</span>
          <img alt="image" src="/content/dam/medica/arrow-2.svg" class="home-image25">
        </div>
      </div>
    </div>
    <div class="home-item2">
      <div class="home-image26">
        <img alt="image" src="/content/dam/medica/news-2-1500w.png" class="home-image27">
      </div>
      <div class="home-content11">
        <div class="home-details2">
          <span class="home-date3">November 23, 2022</span>
          <p class="home-quick-description2">
            Sed ut perspiciatis unde omnis iste natus error sit
            voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore.
          </p>
        </div>
        <div class="read-more">
          <span class="home-text88">Read more</span>
          <img alt="image" src="/content/dam/medica/arrow-2.svg" class="home-image28">
        </div>
      </div>
    </div>
  </div>
</section>