header.experiencefragment {
    padding: 0 11pc 24px 10.5pc;
    padding-bottom: 0px;
}

.hero {
    padding-left: 171px;
    padding-top: 0px;
}

.practices {
    padding-left: 169px;
}

.schedule {
padding-left: 173px;
}

.search {
padding-left: 173px;
}

.appointment {
padding-left: 173px;
}
