<sly data-sly-use.model="com.medica.core.models.SearchModel">
  <div class="home-search">
    <div class="home-heading14">
      <h2 class="home-text23">${model.title}</h2>
      <p class="home-text24">
        ${model.description}
      </p>
    </div>
    <div class="home-content08">
      <div class="home-type-one">
        <div class="home-alphabet">
          <sly data-sly-list.letter="${model.searchLetters}">
            <div data-letter="${letter}" class="letter">
              <span class="home-text">${letter}</span>
            </div>
          </sly>
        </div>
        <p class="home-text51">
          ${model.caption}
        </p>
        <div data-teleport="results" class="home-results">
          <span class="home-heading15">Results:</span>
          <div data-results="letters" class="home-list"></div>
        </div>
      </div>
      <div class="home-type-two">
        <div class="home-heading16">
          <h3 class="home-text52">${model.symptomTitle}</h3>
          <p class="home-text53">
            ${model.symptomDescription}
          </p>
        </div>
        <div class="home-symptoms">
          <sly data-sly-list.tagList="${model.tags}">
            <div class="home-row">
              <sly data-sly-list.tag="${tagList}">
                <div class="symptom">
                  <span class="home-text54">${tag}</span>
                </div>
              </sly>
            </div>
          </sly>
        </div>
      </div>
    </div>
  </div>
</sly>