<section id="book" class="home-book5">
  <div class="home-heading17">
    <h2 class="home-text69">Book an appointment</h2>
    <p class="home-text70">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt.
    </p>
  </div>
  <div class="home-form">
    <div class="home-types1">
      <div class="book-type">
        <span class="home-text71">In person appointment</span>
      </div>
      <div class="book-type">
        <span class="home-text72">Virtual appointment</span>
      </div>
    </div>
    <div class="home-inputs">
      <input type="text" placeholder="Name" autocomplete="name" class="input book-input">
      <input type="email" placeholder="Email" autocomplete="email" class="input book-input">
      <input type="tel" placeholder="Phone" autocomplete="tel" class="input book-input">
      <div class="home-date">
        <input type="date" placeholder="Date" class="input book-input">
        <img alt="image" src="public/Icons/calendar-2.svg" class="home-image19">
      </div>
      <input type="text" placeholder="Practice" class="input book-input">
      <div class="home-lower">
        <p class="home-text73">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt.
        </p>
        <div class="home-button">
          <button class="home-book6 button button-main">
            <span>Book</span>
          </button>
          <p class="home-text75">
            <span>Lorem ipsum dolor sit amet, consectetur</span>
            <span class="home-text77">adipiscing elit</span>
            <span>, sed do eiusmod tempor</span>
            <span class="home-text79">incididunt</span>
            <span>.</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>