scripts=["
    create service user medica-system-user with path /home/users/system/medica/
    set ACL for medica-system-user
        allow jcr:read,rep:write,crx:replicate on /content/medica
        allow jcr:read,rep:write,crx:replicate on /conf/medica
        allow jcr:all on /content/cq:tags/medica
        allow jcr:all on /content/medica
    end
"]